body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #222;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  background: #1a73e8;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.otp-boxes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.otp {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
